<!-- word_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Word List</title>
</head>
<body>
    <h1>Word List</h1>
    <ul>
        <h1>Randomly Generated Word</h1>
        <p>SerialNO: {{ generated_word.serialno }}</p>
        <p>Here's a randomly generated word: <strong>{{ generated_word.word }}</strong></p>
        <p>Origin: {{ generated_word.origin }}</p>
        <p>Meaning: {{ generated_word.meaning }}</p>
        <p>Sentence: {{ generated_word.sentence }}</p>
    </ul>
    <form method="post">
        {% csrf_token %}
        <button name="Sheet" value="Sheet1" type="submit">Sheet1</button>
        <button name="Sheet" value="Sheet2" type="submit">Sheet2</button>
        <button name="Sheet" value="Sheet3" type="submit">Sheet2</button>
        <button name="Sheet" value="Sheet4" type="submit">Sheet4</button>
        <button name="Sheet" value="Sheet5" type="submit">Sheet5</button>
</body>
</html>
